
:root {
  --dark: #000000;
  --black: #000000;
  --white: #fff;
  --gray: #7a7a7a;
  --darkgray: #262626;
  --lightgray: #a4a4a4;
  --ws: "Work Sans", sans-serif;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12vh;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

header.aos-init.aos-animate.hidden {
  transform: translateY(-100%);
}

header .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

header .container .content .logo img {
  width: 40px;
}

header .container .content .logo a {
  font: bold 0.8rem var(--ws);
  text-decoration: none;
  color: var(--white);
}

header .container .content nav {
  display: none;
}

header .container .content .extra-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header .container .content .extra-nav .get-app {
  display: none;
}

header .container .content .extra-nav .btn-menu {
  background: transparent;
  border: none;
}

header .container .content .extra-nav .btn-menu .icon {
  fill: var(--white);
  width: 25px;
  height: 25px;
}

header .container .content .extra-nav .get-app:hover {
  background: var(--gray);
  transition: 0.1s linear;
}

header .container .content .mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100vh;
  background: var(--black);
  transition: transform 0.2s linear;
}

header .container .content .mobile-nav.active {
  transform: translateX(0);
  transition: transform 0.2s linear;
}

header .container .content .mobile-nav .close-mobile-nav {
  position: absolute;
  right: 12px;
  top: 12px;
  background: transparent;
  border: none;
}

header .container .content .mobile-nav .close-mobile-nav .icon {
  fill: var(--white);
  width: 35px;
  height: 35px;
}

header .container .content .mobile-nav .nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header .container .content .mobile-nav a {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

header .container .content .mobile-nav a:hover {
  color: var(--gray);
}

header .container .content .mobile-nav button {
  background: var(--darkgray);
  border: 2px solid var(--gray);
  border-radius: 16px;
  padding: 8px 12px;
  color: var(--white);
}

.to-top {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 8px;
  border: 2px solid var(--white);
  border-radius: 50%;
  fill: var(--white);
  transform: scale(0);
  z-index: 99;
  transition: all 0.2s linear;
}

.to-top:hover {
  background-color: var(--white);
  fill: var(--black);
  transition: all 0.2s linear;
}

.to-top.active {
  transform: scale(1);
  transition: all 0.2s linear;
}

.hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .container .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container .content .background-line {
  display: flex;
  justify-content: center;
  gap: 7rem;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hero .container .content .background-line .line-1,
.hero .container .content .background-line .line-2,
.hero .container .content .background-line .line-3 {
  position: relative;
  height: 100%;
  width: 1px;
  z-index: -1;
  background: var(--dark);
}

.hero .container .content .background-line .line-1::after,
.hero .container .content .background-line .line-3::after {
  content: "";
  position: absolute;
  height: 5%;
  width: 1px;
  background: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 5px var(--white), 0 0 10px var(--white),
    0 0 20px var(--white), 0 0 40px var(--white);
  animation: lineAnimationFromTop 20s linear infinite;
}

.hero .container .content .background-line .line-2::after {
  content: "";
  position: absolute;
  height: 5%;
  width: 1px;
  background: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 5px var(--white), 0 0 10px var(--white),
    0 0 20px var(--white), 0 0 40px var(--white);
  animation: lineAnimationFromBottom 20s linear infinite;
}

.hero .container .content .background-line .line-4 {
  display: none;
  position: relative;
  height: 100%;
  width: 1px;
  z-index: -1;
  background: var(--dark);
}

.hero .container .content .background-line .line-4::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 1px;
  background: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 5px var(--white), 0 0 10px var(--white),
    0 0 20px var(--white), 0 0 40px var(--white);
  animation: lineAnimationFromBottom 20s linear infinite;
}

.hero .container .content .background-line .line-5 {
  display: none;
  position: relative;
  height: 100%;
  width: 1px;
  z-index: -1;
  background: var(--dark);
}

.hero .container .content .background-line .line-5::after {
  content: "";
  position: absolute;
  top: 15%;
  height: 5%;
  width: 1px;
  background: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 5px var(--white), 0 0 10px var(--white),
    0 0 20px var(--white), 0 0 40px var(--white);
  animation: lineAnimationFromTop 20s linear infinite;
}

@keyframes lineAnimationFromTop {
  0% {
    top: 0;
  }
  50% {
    top: 110%;
  }
  100% {
    top: 0;
  }
}

@keyframes lineAnimationFromBottom {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 110%;
  }
  100% {
    bottom: 0;
  }
}

.hero .container .content .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  height: 100%;
  text-align: center;
  z-index: 5;
}

.hero .container .content .main h2 {
  font-size: 0.8rem;
  color: var(--lightgray);
}

.hero .container .content .main h1 {
  font: bold 2rem var(--ws);
}

.hero .container .content .main p {
  font-size: 0.7rem;
  font-weight: 400;
  width: 75%;
  margin-bottom: 1rem;
}

.hero .container .content .main .input {
  width: 75%;
  background: var(--dark);
  display: flex;
  align-items: center;
  border: 2px solid var(--darkgray);
  border-radius: 32px;
  padding: 4px;
  animation: inputShadow 1s linear forwards;
}

@keyframes inputShadow {
  to {
    box-shadow: 0 4px 9px -4px var(--white);
  }
}

.hero .container .content .main .input input {
  width: 65%;
  padding: 8px 14px;
  border: none;
  border-radius: 32px;
  background: transparent;
  color: var(--white);
}

.hero .container .content .main .input input:focus,
.hero .container .content .main .input button:focus {
  outline: none;
}

.hero .container .content .main .input button {
  cursor: pointer;
  width: 35%;
  padding: 8px 2px;
  border-radius: 32px;
  border: none;
  font-weight: bold;
}

.hero .container .content .light {
  position: absolute;
  bottom: 0;
  height: 2%;
  width: 40%;
  filter: blur(80px);
  background: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 5px var(--white), 0 0 10px var(--white),
    0 0 20px var(--white), 0 0 40px var(--white);
  animation: fade-up-light 1s linear forwards;
}

@keyframes fade-up-light {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.starter {
  overflow: hidden;
  position: relative;
  padding: 6rem 0;
}

.starter::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}
.starter .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.starter .container .content .title,
.grid .container .content .title, 
.network-highlight .container .content .title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 16px;
  border: 2px solid var(--darkgray);
  border-top-color: var(--black);
  border-bottom-color: var(--black);
  border-radius: 16px;
  transition: .2s linear;
}

.starter .container .content .title:hover {
  border-top-color: var(--darkgray);
border-bottom-color: var(--darkgray);
  transition: .2s linear;
}

.starter .container .content .title h1,
.grid .container .content .title h1, 
.network-highlight .container .content .title h1 {
  font: bold 1.4rem var(--ws);
  text-align: center;
}

.starter .container .content .title .light-1,
.grid .container .content .title .light-1, 
.network-highlight .container .content .title .light-1 {
  position: absolute;
  left: -2px;
  width: 2px;
  height: 35%;
  background-color: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 5px var(--white);
}

.starter .container .content .title .light-2,
.grid .container .content .title .light-2,
.network-highlight .container .content .title .light-2 {
  position: absolute;
  right: -2px;
  width: 2px;
  height: 35%;
  background-color: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 10px var(--white);
}

.starter .container .content .row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.starter .container .content .row .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 30px 16px;
  background-color: var(--black);
  border: 2px solid var(--dark);
  border-radius: 16px;
  text-align: center;
  overflow: hidden;
}

.starter .container .content .row .box .box-light {
  align-self: center;
  position: absolute;
  top: 0;
  width: 50%;
  height: 7%;
  background: var(--white);
  filter: blur(50px);
}

.starter .container .content .row .box h2 {
  font: bold 1.5rem var(--ws);
  color: var(--lightgray);
}

.starter .container .content .row .box h2 span {
  color: var(--white);
}

.starter .container .content .row .box p {
  font-size: 0.7rem;
}

.starter .container .content .row .box button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: var(--white);
  width: 50%;
  border: 2px solid var(--darkgray);
  border-radius: 12px;
  background-color: var(--dark);
  padding: 8px;
  font-weight: bold;
  overflow: hidden;
}

.starter .container .content .row .box button::before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  transition: 0.3s ease-in-out;
  background-color: white;
}

.starter .container .content .row .box button:hover::before {
  height: 100%;
  top: initial;
  bottom: 0;
}

.starter .container .content .row .box button span {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.starter .container .content .row .box button:hover span {
  color: #000;
}

.starter .container .content .row .light-area {
  position: absolute;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  z-index: -1;
}

.starter .container .content .row .light-area .light-1,
.starter .container .content .row .light-area .light-2 {
  position: relative;
  height: 100%;
  width: 1px;
  background-color: var(--dark);
}

.starter .container .content .row .light-area .light-1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 20px;
  background-color: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 10px var(--white);
  animation: lineAnimationFromTop 4s linear infinite;
}

.starter .container .content .row .light-area .light-2::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 20px;
  background-color: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 10px var(--white);
  animation: lineAnimationFromBottom 4s linear infinite;
}

.grid {
  min-height: 100vh;
  position: relative;
  padding: 6rem 0;
  overflow: hidden;
}

.grid .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.grid .container .content .grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 16px;
}

.grid .container .content .grid-container .box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: rgba(16, 16, 16, .5);
  border: 2px solid var(--darkgray);
  backdrop-filter: blur(50px);
  -o-border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
}

.grid .container .content .grid-container .box h1 {
  color: var(--lightgray);
  font: bold 1.8rem var(--ws);
}

.grid .container .content .grid-container .box h1 span {
  color: var(--white);
}

.grid .container .content .grid-container .box p {
  font-size: .9rem;
  width: 85%;
}

.grid .container .content .grid-container .box-6 {
  padding: 2rem .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid .container .content .grid-container .box-2 .light,
.grid .container .content .grid-container .box-2 .rope,
.grid .container .content .grid-container .box-2 .star {
  display: none;
}

.grid .container .content .grid-container .box-6 button {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 100%;
  border: 2px solid var(--darkgray);
  border-radius: 12px;
  background-color: var(--dark);
  padding: 20px 8px;
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
}

.grid .container .content .grid-container .box-6 button::after {
  content: "";
  position: absolute;
  transform: scale(0);
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: var(--white);
  z-index: 1;
  transition:  .2s linear;
}

.grid .container .content .grid-container .box-6 button:hover::after {
  transform: scale(30);
  transition: transform .2s linear;
}

.grid .container .content .grid-container .box-6 button span {
  position: relative;
  z-index: 2;
}

.grid .container .content .grid-container .box-6 button:hover span {
  color: var(--black);
  transition: .2s linear;
}

.grid {
  min-height: 80vh;
  position: relative;
  padding: 6rem 0;
  overflow: hidden;
}

.solution .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 4rem;
}

.solution .container .content .title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.solution .container .content .title h1 { 
  color: var(--white);
  font: bold 2rem var(--ws);
}

.solution .container .content .title p {
  color: var(--lightgray);
  font-size: .9rem;
}

.solution .container .content .row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.solution .container .content .row .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 300px;
  width: 100%;
  background: var(--black);
  border: 2px solid var(--dark);
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.solution .container .content .row .box::after {
  content: "";
  position: absolute;
  top: -2px;
  height: 2px;
  width: 15%;
  background-color: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 5px var(--white), 0 0 10px var(--white),
    0 0 20px var(--white), 0 0 40px var(--white);
}

.solution .container .content .row .box .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 85%;
}

.solution .container .content .row .box .text h2 {
  color: var(--white);
  font: bold 1.8rem var(--ws);
}

.solution .container .content .row .box .text p {
  color: var(--lightgray);
  font-size: .9rem;
  margin-bottom: 2rem;
}

.solution .container .content .row .box a {
  height: 15%;
  color: var(--white);
  text-decoration: none;
}

.solution .container .content .row .box a:hover {
  text-decoration: underline;
}

.network-highlight {
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  padding: 6rem 0;
}

.network-highlight .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  gap: 2rem;
}

.network-highlight .container .content .row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
}

.network-highlight .container .content .row .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 200px;
  padding: 12px;
  background: var(--dark);
  border-radius: 16px;
  overflow: hidden;
}

.network-highlight .container .content .row .box::after {
  content: "";
  position: absolute;
  bottom: -90%;
  right: -90%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: var(--white);
  filter: blur(120px);
}

.network-highlight .container .content .row .box .box-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.network-highlight .container .content .row .box .box-title .name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.network-highlight .container .content .row .box .box-title .name .icon {
  fill: var(--white);
  padding: 6px;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background: var(--darkgray);
}

.network-highlight .container .content .row .box .box-title .name p {
  font: 400 1.3rem var(--ws);
}

.network-highlight .container .content .row .box .box-title .percent {
  color: var(--white);
  font-size: 1.1rem;
  padding: 4px 8px;
  background: var(--darkgray);
  border-radius: 16px;
}

.news {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 6rem 0;
  background: url("assets/news.jpeg");
  background-size: cover;
  background-position: center;
}

.news::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.news::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.news .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.news .container .content .title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.news .container .content .title h1 {
  color: var(--lightgray);
  font: bold 2rem var(--ws);
  text-align: center;
}

.news .container .content .title h1 span {
  color: var(--white);
}

.news .container .content .row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news .container .content .row .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 350px;
  padding: 16px;
  border: 2px solid var(--darkgray);
  border-radius: 12px;
  background: var(--dark);
}

.news .container .content .row .card .image {
  height: 50%;
  background: url("assets/4.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.news .container .content .row .card h1 {
  color: var(--white);
  font: bold 1.4rem var(--ws);
}

.news .container .content .row .card h1 span {
  color: var(--lightgray);
}

.news .container .content .row .card p {
  color: var(--lightgray);
  font-size: .9rem;
}

.join {
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  padding: 6rem 0;
}

.join .container .content {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join .container .content .wrapper {
  position: relative;
  width: 100%;
  height: 350px;
  background: url("assets/star.png");
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;
}

.join .container .content .wrapper .light-1 {
  position: absolute;
  top: -40%;
  left: -40%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, .5);
  filter: blur(100px);
}

.join .container .content .wrapper .light-2 {
  position: absolute;
  bottom: -40%;
  right: -40%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, .5);
  filter: blur(100px);
}

.join .container .content .wrapper .wrapper-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 12px;
  text-align: center;
}

.join .container .content .wrapper .wrapper-content .logo {
  position: absolute;
  top: 0;
  width: 20%;
  height: 20%;
}

.join .container .content .wrapper .wrapper-content .logo img {
  width: 100%;
  height: 100%;
}

.join .container .content .wrapper .wrapper-content .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.join .container .content .wrapper .wrapper-content .text h1 {
  font: bold 1.5rem var(--ws);
}

.join .container .content .wrapper .wrapper-content .text p {
  font-size: .9rem;
}

.join .container .content .wrapper .wrapper-content .text button {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 50%;
  border: 2px solid var(--darkgray);
  border-radius: 12px;
  background-color: var(--dark);
  padding: 12px 8px;
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
}

.join .container .content .wrapper .wrapper-content .text button::after {
  content: "";
  position: absolute;
  transform: scale(0);
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background-color: var(--white);
  z-index: 1;
  transition:  .2s linear;
}

.join .container .content .wrapper .wrapper-content .text button:hover::after {
  transform: scale(30);
  transition: transform .2s linear;
}

.join .container .content .wrapper .wrapper-content .text button span {
  position: relative;
  z-index: 2;
}

.join .container .content .wrapper .wrapper-content .text button:hover span {
  color: var(--black);
  transition: .2s linear;
}

footer {
  min-height: 30vh;
  position: relative;
  overflow: hidden;
}

footer .container .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 30vh;
}

footer .container .content .col-1, 
footer .container .content .col-2, 
footer .container .content .col-3, 
footer .container .content .col-4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

footer .container .content .col-1 .logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

footer .container .content .col-1 .logo img {
  width: 50px;
  height: 50px;
}

footer .container .content .col-1 .logo a {
  font: bold 1.3rem var(--ws);
  color: var(--white);
  text-decoration: none;
}

footer .container .content .col-1 .social {
  display: flex;
  gap: 1rem;
}

footer .container .content .col-1 .social a {
  fill: var(--white);
  width: 25px;
  height: 25px;
}

footer .container .content .col-1 .social a:hover {
  fill: var(--lightgray);
}

footer .container .content .col-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .container .content .col-right .col-2 p, 
footer .container .content .col-right .col-3 p, 
footer .container .content .col-right .col-4 p {
  font-size: 1.2rem;
  font-weight: bold;
}

footer .container .content .col-right .col-2 a, 
footer .container .content .col-right .col-3 a, 
footer .container .content .col-right .col-4 a {
  text-decoration: none;
  color: var(--lightgray);
}

footer .container .content .col-right .col-2 a:hover, 
footer .container .content .col-right .col-3 a:hover, 
footer .container .content .col-right .col-4 a:hover {
  color: var(--white);
}

@media (min-width: 450px) {
  .container {
    max-width: 450px;
  }

  .hero .container .content .background-line {
    gap: 9rem;
  }

  .hero .container .content .main p {
    width: 65%;
  }

  .grid .container .content .title {
    padding: 20px 24px;
  }

}
@media (min-width: 610px) {
  .container {
    max-width: 610px;
  }

  .hero .container .content .background-line .line-4 {
    display: block;
  }

  .hero .container .content .main h2 {
    font-size: 0.9rem;
  }
  .hero .container .content .main h1 {
    font-size: 3rem;
  }

  .hero .container .content .main p {
    font-size: 0.9rem;
  }

  .starter .container .content .title,
  .grid .container .content .title, 
  .network-highlight .container .content .title {
    width: 75%;
  }

  .grid .container .content .title {
    padding: 20px 24px;
  }

  .starter .container .content .title h1,
  .grid .container .content .title h1,
  .network-highlight .container .content .title h1 {
    font-size: 2rem;
  }

  .starter .container .content .row .box h2 {
    font-size: 1.7rem;
  }

  .starter .container .content .row .box p {
    width: 75%;
    font-size: 0.9rem;
  }

  .starter .container .content .row .box button {
    width: 30%;
  }

  .solution .container .content .row .box .text h2 {
    color: var(--white);
    font: bold 2rem var(--ws);
    width: 85%;
  }
  
  .solution .container .content .row .box .text p {
    color: var(--lightgray);
    font-size: 1rem;
    width: 85%;
    margin-bottom: 2rem;
  }

  .network-highlight .container .content .row .box {
    justify-content: space-around;
  }

  .network-highlight .container .content .row .box .box-title {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .network-highlight .container .content .row .box .box-title .name p {
    font-size: 1.8rem;
  }

  .network-highlight .container .content .row .box h2 {
    font-size: 2rem;
    align-self: self-start;
    margin-left: 8px;
  }

  .news .container .content .title {
    width: 75%;
  }

  .news .container .content .title h1 {
    font-size: 2.4rem;
  }

  .news .container .content .row .card h1 {
    font-size: 1.8rem;
  }

  .news .container .content .row .card p {
    font-size: 1rem;
  }

  .join .container .content .wrapper {
    width: 75%;
  }

  footer .container .content .col-1 p {
    width: 75%;
  }

}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  header .container .content .extra-nav .btn-menu {
    display: none;
  }

  header .container .content nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 4px;
    border-radius: 32px;
    background: rgba(38, 38, 38, 0.4);
    border: 1px solid var(--gray);
    backdrop-filter: blur(5px);
  }

  header .container .content nav a {
    color: var(--white);
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 32px;
    font-size: 0.8rem;
    font-weight: 500;
    transition: 0.2s linear;
  }

  header .container .content nav a:hover {
    background: var(--darkgray);
  }

  header .container .content .extra-nav .get-app {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark);
    border: 1px solid var(--gray);
    color: var(--white);
    font-size: 0.7rem;
    border-radius: 32px;
  }

  .hero .container .content .background-line {
    gap: 11rem;
  }

  .starter .container .content .title,
  .grid .container .content .title, 
  .network-highlight .container .content .title {
    width: 75%;
  }

  .starter .container .content .row {
    flex-direction: row;
  }

  .starter .container .content .row .box {
    height: 350px;
    gap: 1.5rem;
  }

  .starter .container .content .row .box h2 {
    font-size: 1.5rem;
  }

  .starter .container .content .row .box p {
    width: 100%;
    font-size: 0.8rem;
  }

  .starter .container .content .row .box button {
    width: 50%;
  }

  .starter .container .content .row .light-area {
    transform: rotate(90deg);
  }

  .grid .container .content .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
  }

  .grid .container .content .grid-container .box-6 button {
    width: 75%;
  }

  .solution .container .content .title {
    width: 75%;
  }

  .solution .container .content .title h1 {
    font-size: 2.3rem;
  }

  .solution .container .content .row .box .text h2 {
    width: 100%;
  }

  .network-highlight .container .content .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .news .container .content .title {
    width: 65%;
  }

  .news .container .content .row .card h1 {
    font-size: 2.2rem;
  }

  .news .container .content .row .card p {
    font-size: 1.1rem;
  }

  .join .container .content .wrapper {
    width: 60%;
  }

}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  header .container .content .logo img {
    width: 45px;
    height: 45px;
  }

  header .container .content .logo a {
    font-size: 1rem;
  }

  header .container .content .extra-nav .get-app {
    padding: 8px 24px;
  }

  header .container .content .mobile-nav {
    display: none;
  }

  .hero .container .content .background-line {
    gap: 12rem;
  }

  .hero .container .content .background-line .line-5 {
    display: block;
  }

  .hero .container .content .main h2,
  .hero .container .content .main p {
    font-size: 1.1rem;
  }

  .hero .container .content .main h1 {
    font-size: 4rem;
  }

  .hero .container .content .main .input {
    padding: 10px 16px;
  }

  .hero .container .content .main .input input {
    width: 75%;
    font-size: 18px;
  }

  .hero .container .content .main .input button {
    width: 25%;
    padding: 12px 2px;
  }

  .starter .container .content .title, 
  .grid .container .content .title,
  .network-highlight .container .content .title {
    width: 60%;
  }

  .starter .container .content .row .box h2 {
    font-size: 1.7rem;
    width: 85%;
  }

  .starter .container .content .row .box button {
    width: 40%;
  }

  .starter .container .content .row .light-area {
    margin-left: 30px;
  }

  .grid .container .content .grid-container .box h1 {
    font-size: 2.2rem;
  }

  .grid .container .content .grid-container .box p {
    font-size: 1rem;
  }
  .solution .container .content .title {
    width: 65%;
  }

  .solution .container .content .title h1 {
    font-size: 2.7rem;
  }

  .solution .container .content .row {
    flex-direction: row;
    gap: 0;
    border: 2px solid var(--dark);
    border-radius: 10px;
  }

  .solution .container .content .row .box {
    align-items: start;
    text-align: start;
    border: none;
  }

  .solution .container .content .row .box:nth-child(2) {
    border-right: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
    border-radius: 0px;
  }

  .solution .container .content .row .box .text {
    justify-content: start;
  }

  .solution .container .content .row .box .text h2 {
    font-size: 1.5rem;
  }

  .solution .container .content .row .box .text p {
    width: 100%;
  }

  .network-highlight .container .content .row .box .box-title .name p {
    font-size: 1rem;
  }

  .network-highlight .container .content .row .box .box-title .percent {
    font-size: .8rem;
  }

  .news .container .content .title {
    width: 50%;
  }

  .news .container .content .row {
    flex-direction: row;
    gap: .8rem;
  }

  .news .container .content .row .card:nth-child(2) {
    margin-top: 2rem;
  }

  .news .container .content .row .card h1 {
    font-size: 1.4rem;
  }

  .news .container .content .row .card p {
    font-size: .9rem;
  }

  .join .container .content .wrapper {
    width: 75%;
    height: 400px;
  }

  .join .container .content .wrapper .wrapper-content .logo {
    width: 15%;
    height: 20%;
  }

  .join .container .content .wrapper .wrapper-content .text {
    gap: 1.5rem;
  }

  .join .container .content .wrapper .wrapper-content .text h1 {
    font-size: 1.9rem;
    width: 75%;
  }

  .join .container .content .wrapper .wrapper-content .text p {
    width: 65%;
    font-size: .7rem;
  }

  .join .container .content .wrapper .wrapper-content .text button {
    width: 25%;
  }

  footer .container .content {
    flex-direction: row;
  }

  footer .container .content .col-1 {
    width: 50%;
  }

  footer .container .content .col-right {
    width: 50%;
    flex-direction: row;
  }

}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  header .container .content nav a {
    padding: 8px 12px;
  }

  header .container .content .extra-nav .get-app {
    padding: 12px 28px;
    font-size: 0.7rem;
  }

  .hero .container .content .background-line {
    gap: 15rem;
  }

  .starter .container .content .title, 
  .grid .container .content .title, 
  .network-highlight .container .content .title {
    width: 50%;
  }

  .starter .container .content .title h1, 
  .grid .container .content .title h1,
  .network-highlight .container .content .title h1 {
    font-size: 2.2rem;
  }

  .starter .container .content .row .box h2 {
    font-size: 2rem;
    width: 75%;
  }

  .starter .container .content .row .box p {
    font-size: 1rem;
    width: 85%;
  }

  .starter .container .content .row .box button {
    width: 30%;
  }

  .grid .container .content .grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 32px;
    height: 90vh;
  }

  .grid .container .content .grid-container .box {
    justify-content: end;
    align-items: start;
    padding: 2rem 1rem;
    text-align: start;
  }

  .grid .container .content .grid-container .box h1 {
    font-size: 1.7rem;
  }
  .grid .container .content .grid-container .box p {
    font-size: .8rem;
  }

  .grid .container .content .grid-container .box-1 {
    grid-row: span 4 / span 4;
  }

  .grid .container .content .grid-container .box-2 {
    position: relative;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    overflow: hidden;
  }

  .grid .container .content .grid-container .box-2 .light {
  display: block;
  align-self: center;
  position: absolute;
  top: 0;
  height: 5%;
  width: 50%;
  filter: blur(80px);
  background: var(--white);
  box-shadow: 0 0 2px var(--white), 0 0 5px var(--white), 0 0 10px var(--white),
    0 0 20px var(--white), 0 0 40px var(--white);
  }

  .grid .container .content .grid-container .box-2 p {
    width: 60%;
  }

  .grid .container .content .grid-container .box-2 .rope {
    display: block;
    position: absolute;
    top: -20%;
    right: -10%;
    width: 50%;
    height: 100%;
    transform: rotate(-15deg);
  }

  .grid .container .content .grid-container .box-2 .star {
    display: block;
    position: absolute;
    top: 0;
    width: 80%;
    height: 75%;
  }

  .grid .container .content .grid-container .box-3 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
  }
  

  .grid .container .content .grid-container .box-4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
  }

  .grid .container .content .grid-container .box-5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
  }

  .grid .container .content .grid-container .box-6 {
    grid-row-start: 5;
  }

  .grid .container .content .grid-container .box-6 button {
    width: 100%;
    border-radius: 32px;
    font-size: 1rem;
  }

  .solution .container .content .row .box .text h2 {
    font-size: 1.7rem;
  }

  .solution .container .content .row .box .text p {
    width: 100%;
  }

  .solution .container .content .title {
    width: 50%;
  }

  .network-highlight .container .content .row {
    grid-template-columns: repeat(4, 1fr);
  }

  .network-highlight .container .content .row .box h2 {
    font-size: 1.6rem;
  }

  .news .container .content .title {
    width: 40%;
  }

  .news .container .content .row {
    width: 85%;
  }

  .join .container .content .wrapper .wrapper-content .logo {
    width: 10%;
    height: 20%;
  }

  .join .container .content .wrapper .wrapper-content .text h1 {
    font-size: 2.2rem;
    width: 75%;
  }

  .join .container .content .wrapper .wrapper-content .text p {
    width: 50%;
    font-size: .8rem;
  }

  .join .container .content .wrapper .wrapper-content .text button {
    width: 25%;
    font-size: 1rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }

  header .container .content .logo img {
    width: 50px;
    height: 50px;
  }

  header .container .content .logo a {
    font-size: 1.2rem;
  }

  header .container .content nav {
    margin-right: 2rem;
  }

  header .container .content nav a {
    font-size: 1rem;
  }

  header .container .content .extra-nav .get-app {
    padding: 12px 40px;
  }

  .hero .container .content .background-line {
    gap: 19rem;
  }

  .hero .container .content .main h1 {
    font-size: 5rem;
  }

  .starter .container .content .title h1, 
  .grid .container .content .title h1,
  .network-highlight .container .content .title h1 {
    font-size: 2.5rem;
  }

  .starter .container .content .row .box {
    height: 400px;
  }

  .starter .container .content .row .box h2 {
    font-size: 2.4rem;
  }

  .starter .container .content .row .box p {
    width: 75%;
  }

  .starter .container .content .row .box button {
    width: 30%;
    font-size: 1.2rem;
  }

  .grid .container .content .grid-container {
    height: 70vh;
  }

  .grid .container .content .grid-container .box h1 {
    font-size: 2rem;
  }
  
  .grid .container .content .grid-container .box p {
    font-size: 1rem;
  }

  .news .container .content .title h1 {
    font-size: 2.8rem;
  }

  .news .container .content .row .card {
    height: 400px;
  }

  .news .container .content .row .card h1 {
    font-size: 1.7rem;
  }

  .news .container .content .row .card p {
    font-size: 1rem;
  }

  .join .container .content .wrapper {
    height: 450px;
  }

  .join .container .content .wrapper .wrapper-content .logo {
    width: 10%;
    height: 20%;
  }

  .join .container .content .wrapper .wrapper-content .text h1 {
    font-size: 2.em;
    width: 65%;
  }

  .join .container .content .wrapper .wrapper-content .text p {
    width: 50%;
    font-size: .9rem;
  }

}
